@charset "UTF-8";
/*
font-family: 'Bebas Neue', cursive;
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family:'Idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
       --cor1: #c5ebd6;
       --cor2: #83e1ad;
       --cor3: #3ddc84;
       --cor4: #2fa866;
       --cor5: #1a5c37;
       --cor6: #063d1e;

       --fonte-padrao: Arial,Helvetica,Verdana,Sans-serif;
       --fonte-destaque:'Bebas Neue', cursive;
       --fonte-android:'Idroid', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}
header{
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor6));
    
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}
div#titulo{
    background-color: #063d1e38;
    border-radius: 20px;
    max-width: 800px;
    margin: auto;
}
header  h1{
    color: #ffff;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    text-shadow:  1px 2px 3px rgba(0, 0, 0, 0.616);
    margin-bottom: 15px;

}
header h6{
    color: #ffff;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-shadow: 1px 1px 1px #0000008c;
    padding-bottom: 6px;

}
nav{
    background-color: var(--cor6);
    box-shadow: 07px 7px 7px rgba(0, 0, 0, 0.281);
    padding-bottom: 10px;
    

}
nav > a{
    color: rgb(188, 241, 178);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}
nav > a:hover{
    background-color: #2fa865b2;
    transition-duration: .3s;
    border-radius: 5px;
}
main{
    
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #ffff;
    box-shadow: 0px 0px 10px var(--cor6);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;


}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    width: 50%;
    display: block;
    margin: auto;
}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}
main h2{
    font-family: 'Idroid';
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right,var(--cor1),transparent);
    text-indent: 8px;
    
}
main h3{
    color: #032211;


}
main p{   
    margin:15px 0px;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5em;
    font-size: 1em;

}
main strong{
    color: var(--cor5);
    font-weight: bold;
    
    padding: 2px 6px;
}
main a{
    background-color: #3ddc852f;
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor6);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: overline;
    color: var(--cor5);
}
main a::after{
    content: '\00a0\1f517';
}
aside{
    background-color: #c5ebd6;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px var(--cor6);
}
aside ul {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 2;
    margin:15px 0px;
}
aside h4{
    background-color: var(--cor4);
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px ;
}
aside p{
    margin:5px 0px;
}

footer{
    background-color: var(--cor5);
    color: #ffff;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    height: 20px;
}
footer a{
    color: aliceblue;
    font-weight: bolder;

}
footer h6{
    padding: 5px;
}
div.video{
    background-color:#063d1e;
    margin: 0px -20px 20px -20px;
    padding:10px;
    position: relative;
    padding-bottom: 58%;
}
div.video >iframe{
    position: absolute;
    top:5% ;
    left: 5%;
    width: 90%;
    height: 90%;
}
div#contato{
    background-color: #83e1ad;
    margin: auto;
    max-width: 500px;
    min-width: 260px;
    height: 290px;
    border-radius: 10px;
    box-shadow: 0px 10px 1px black;
    position: relative;
    padding-top: 10px;
    padding-left: 4px;
    
}
#bloco{
    display: block;
    margin: auto;
    top: 10px;
}
#contato >#bloco> div{
    background-color: #032211;
    width: 280px;
    height: 40px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px 10px 10px 10px;
}
#contato > #bloco > div > p{
    display: block;
    text-align: center;
    color: azure;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 8px;
    margin-left: -15px;
}
main>#contatoart > h3{
    text-align: center;
    font-family: var(--fonte-destaque);
    font-weight: 400;
    font-size: 2em;
    text-shadow: 2px 2px 2px #3ddc857c;
    margin-top: 50px;
    padding-left: 5px;
}
#curiosidade article{
    height: 400px;
}
